// Import global styles and variables
@import "../../styles/global.scss";
@import "../../styles/variables.scss";
@import "../../styles/typography";
@import "../../styles/mixins.scss";

// Define styles for the login page
.login {
  &-container {
    display: flex;
    height: 100vh;
  }

  // Illustration section styling
  &-illustration {
    background-color: $background-color-light;
    flex: 1;

    &-container {
      @include center-div;
    }

    &-logo {
      position: absolute;
      top: 106px;
      left: 96px;
    }
  }

  // Form section styling
  &-form {
    @include center-div;
    align-items: flex-start;
    flex: 1;

    &-logo {
      display: none;
    }

    &-container {
      margin: auto;
    }

    &-header {
      @extend .text-xl;
      color: $blue-color;
      margin-bottom: $spacing-xs;
    }

    &-text {
      @extend .text-sm;
      color: $text-primary-color;
      margin-bottom: $spacing-md;
    }

    &-input {
      @extend .form-input;
      height: $input-height;
      width: $input-width;
      margin-bottom: $spacing-md;
    }

    &-passwordInput {
      position: relative;
      height: $input-height;
      width: $input-width;

      span {
        @extend .text-sm;
        position: absolute;
        right: $spacing-sm;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: $green-color;
      }
    }

    &-forgotPassword {
      @extend .text-sm;
      color: $green-color;
      margin: $spacing-lg 0;
    }

    &-submit {
      width: 100%;
      height: $input-height;
    }
  }

  // Media query for mobile view
  @media (max-width: $breakpoint-md) {
    &-illustration {
      display: none;
    }

    &-form {
      padding: $spacing-md;
      width: 100%;

      &-logo {
        display: block;
        position: absolute;
        top: $spacing-md;
        left: $spacing-md;
      }

      &-input {
        width: $input-width-mobile;
        
      }
      &-passwordInput {
     
        width: $input-width-mobile;
  
       
      }
    }
  }
}
