// Fonts
$primary-font: "Avenir Next", sans-serif;

// Colors
$background-color-light: #fbfbfb;
$input-border: #545f7d26;
$blue-color: #213f7d;
$blue-color-transparent: rgba(33, 63, 125, 0.6);
$text-primary-color: #545f7d;
$green-color: #39cdcc;

// Spacing
$spacing-xs: 5px;
$spacing-sm: 10px;
$spacing-md: 20px;
$spacing-lg: 30px;
$spacing-2xl: 60px;

// Input dimensions
$input-height: 50px;
$input-width: 447px;
$input-width-mobile: 247px;

// Breakpoints
$breakpoint-md: 768px;

// Box shadow
$box-shadow: 3px 0px 20px 0px #0000000a;
